<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YRNewsReport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E06693661BE0C7F5005D8E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E066937F1BE0C7F6005D8E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E066938A1BE0C7F6005D8E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
